body {
    font-family: Arial, Helvetica, sans-serif
}

/* Hide winner status class */
.hide {
    display: none;
}

/* Structure entire game div */
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: 1px solid black;
    border-radius: 12px;
    margin: auto;
}

/* Structure the game board div */
.board {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
}

/* Structure each field within game board */
.field {
    flex: 0 0 33%;
    height: 100px;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}

/* Clean up player button spacing */
.player {
    margin-bottom: 50px;
    margin-top: 25px;
}

/* Change cursor on button hovers */
.field:hover, .btn:hover {
    cursor: pointer;
}

/* Remove both right and bottom borders on necessary buttons [Tic-Tac-Toe board appeal] */
.no-right {
    border-right: none;
}

.no-bottom {
    border-bottom: none;
}

/* Button div structuring [player buttons and restart button] */
.btn {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

/* Button div change when clicked */
.btn:active {
    background-color: gray;
}

/* Restart button div clean area */
.restart {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Restart button properties */
.restart-btn {
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-weight: 1000;
}

/* Player button properties */
.person {
    width: 150px; 
    height: 30px;
    font-size: 25px;
    font-weight: 1000;
}